$primary-color: #fff;

.main-header {
  border: 2px solid pink;
  padding: 4rem 2rem;
  margin: 10rem auto;
  .header-image {
    width: 100%;
    max-width: 24rem;
    height: 24rem;
    border-radius: 50%;
    object-fit: cover;
  }
  .header-info {
    h3 {
      color: #290000;
    }
    ul {
      list-style: none;
    }
  }
}
